* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'LuckiestGuy';
    src: url('./fonts/LuckiestGuy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'LuckiestGuy', sans-serif;
    position: relative; 
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
    background-color: #64c9e0;
    color: #2f2771;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/3. Background/Dark/1.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    opacity: 0.5; 
    z-index: -1; 
}

canvas {
    background-color: black;
    border: 12px solid #2f2771;
    border-radius: 8px;
    /* display: block; */
}

#dialog-container {
    display: block;
}

#dialog-box {
    border: 12px solid #2f2771;
    border-radius: 8px;
    background-color: #64c9e0;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


h1 {
    font-family: 'LuckiestGuy', sans-serif;
    letter-spacing: 6px;
    font-size: 64px;
}

p {
    font-family: 'LuckiestGuy', sans-serif;
}

.d-none {
    display: none;
}

#img-button {
    border: none;
    background-color: transparent;
    padding: 0;
}

button {
    color: white;
    font-family: 'LuckiestGuy', sans-serif;
    border: none;
    padding: 20px 32px;
    background-color: #531a82;
    border-radius: 18px;
    border: 4px solid white;
    font-size: 24px;
    overflow: hidden;
}

button:hover {
    cursor: pointer;
    scale: 1.1;
}

.instruction-key {
    width: 200px;
}

.key-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 36px;
}

#instructions h2 {
    text-align: center;
}

.single-key-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}

.title-box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.title-container {
    padding-left: 24px;
}

#dialog-box-winner {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}

#dialog-box-winner img {
    width: 100%;    
    height: 100%;
}

#img-button-winner{
    border: none;
    background-color: transparent;
    position: fixed;
    bottom: 40px;
    right: 280px;
    z-index: 10;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: right;
    margin-top: 18px;
    align-items: flex-start;
}

#navigation {
    display: flex;
    margin-top: 24px;
    gap: 24px;
}

#buttonsMobile {
    display: none;
}

#spaceKey{
    width: 120px;
}

#dKey {
    width: 60px;
}

#buttonsMobile i {
    font-size: 36px;
    color: white;

}

.arrow-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-right-btns {
    display: flex;
    gap: 20px
}

.attack-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navigation i {
    font-size: 36px;
    color: white;
}

#navigation i:hover {
    cursor: pointer;
    scale: 1.1;
}


/* Smartphones ------------*/
@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
        border: none;
    }
}

@media (hover: none) and (orientation: portrait) {
    #buttonsMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    .buttons-container {

    }
}

@media (hover: none) and (orientation: landscape) {
    #buttonsMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    #gameTitle {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        border: none;
    }
}

